Django<4.0,>=3.2
psycopg2-binary>=2.9.1
mysqlclient>=2.0.3
django-allauth>=0.44.0
django-crispy-forms>=1.12.0
django-payments>=0.13.0
django-countries>=7.2
django-phonenumber-field>=6.0.0
djangorestframework>=3.12.4
drf-yasg>=1.20.0
django-webpack-loader>=1.7.0
django-cors-headers>=3.10.0
django-axes>=5.23.0
gunicorn>=20.1.0
Pillow>=8.3.1
django-storages>=1.12.3
django-anymail[mailgun]>=8.4
celery>=5.1.2
django-celery-beat>=2.2.0
django-environ>=0.4.5
django-debug-toolbar>=3.2.1
pytest>=6.2.4
pytest-django>=4.4.0
factory-boy>=3.2.0
django-health-check>=3.16.4
