{% extends "base.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

{% block css %}
<link rel="stylesheet" href="{% static "deps/css/my_footer_css.css" %}">
<style>
    .content-section {
        background-color: rgba(255, 255, 255, 0.9);
        padding: 2rem;
    }
    .content-container {
        padding-bottom: 5rem;
    }
    .map-container {
        margin-top: 2rem;
    }
</style>
{% endblock %}

{% block modal_cart %}
    {% include "includes/cart_button.html" %}
{% endblock %}

{% block content %}
<div class="container mt-5 pt-5 content-container">
    <div class="bg-white p-4 mb-4 mx-2 rounded custom-shadow">
        <h2 class="text-center mb-4">{{ content }}</h2>
        <p class="text-center">{{ text_on_page|linebreaks }}</p>
    </div>
</div>
{% endblock %}

{% block footer %}
<footer class="py-4 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Home Python Nazaruk Ivan 2024</p>
    </div>
</footer>
{% endblock %}

